@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
  
*{
    margin: 0;
    padding: 0;
    font-family: "Cabin", serif;
    background-color: #040018;
}

.hero_text {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.hero_text::before {
    content: "";
    background-color: #54FFE8;
    position: absolute;
    rotate: 2deg; 
    width: 90%; 
    height: 2px;
    bottom: 7px; 
    left: 5%;
}

.hero_text::after {
    content: "";
    background-color: #79C6F9;
    position: absolute;
    rotate: -1deg; 
    width: 92%; 
    height: 2px;
    bottom: 8px;
    right: 4%;
}

@media only screen and (max-width: 600px) {
    .hero_text::before {
        rotate: 1.5deg;
        width: 92%;
        bottom: 6px;
    }
    .hero_text::after {
        rotate: -0.5deg;
        width: 94%;
        bottom: 7px;
    }
}


.circle{
    clip-path: circle();
}